<div class="mathquill-editor-wrapper">
  
  <div id="editable-math"
       class="mathquill-math-field"
       #editableMath>
    {{equation}}
  </div>
  
  <div style="height: 10px"></div>
  
  <div class="math-button-box">
    <mq-math-button mytext="{{mathButton}}"
                    *ngFor="let mathButton of options.buttonLatexContents"
                    (click)="clicked(mathButton)">
    </mq-math-button>
  </div>

  <button type="button" (click)="submit()" pButton label="Submit">Submit</button>

</div>
